body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
    color: white;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
    background: linear-gradient(to right, #000, #444);
    color: white;
}

.btn {
    padding: 10px 20px;
    background: orange;
    color: white;
    text-decoration: none;
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
}